html{
    font-size: 62.5%;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $colorBase;
    color: $colorMain;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    font-feature-settings: "palt";
    letter-spacing: 0.01em;
}