$breakpoints: (
    "sp": "screen and (max-width: 599px)",
    "tb": "screen and (min-width: 600px) and (max-width: 1024px)",
    "pc": "screen and (min-width: 1025px)",
);

@mixin bp($device: "sp") {
    @media #{map-get($breakpoints, $device)}{
        @content;
    }
}

@mixin transition($value: 300) {
    transition-duration: #{$value}ms;
    transition-timing-function: ease-out;
}

@mixin hover($value: 0.7) {
    @include transition();
    backface-visibility: hidden;
    &:hover{
        opacity: #{$value};
    }
}

@mixin active($value: 0.7) {
    @include transition();
    backface-visibility: hidden;
    &:active{
        opacity: #{$value};
    }
}

@mixin link {
    @include hover();
    cursor: pointer;
}

@mixin button {
    @include active();
    cursor: pointer;
}

@mixin middle ($value: "xy") {
    position: absolute;
    @if $value == "xy" {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    } @else if $value == "x" {
        left: 50%;
        transform: translateX(-50%);
    } @else if $value == "y" {
        top: 50%;
        transform: translateY(-50%);
    }
}